<!DOCTYPE html>
<html>
<head>
  <title>Melinis</title>
  <%= stylesheet_link_tag    "melinis/application", media: "all" %>
  <%= javascript_include_tag "melinis/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
